    <section class="mt-6 sm:mt-8 md:mt-10 lg:mt-12">
      <div
        class="text-purple-900 w-full grid grid-cols-2 md:grid-cols-4 place-items-center gap-6 py-8"
      >
        <div class="text-center space-y-2 inria-serif-bold">
          <div class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
            375
          </div>
          <div class="text-sm sm:text-base md:text-lg lg:text-xl">
            Total Events
          </div>
        </div>
        <div class="text-center space-y-2 inria-serif-bold">
          <div class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
            9.5K
          </div>
          <div class="text-sm sm:text-base md:text-lg lg:text-xl">
            Satisfied Client
          </div>
        </div>
        <div class="text-center space-y-2 inria-serif-bold">
          <div class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
            4.5/5
          </div>
          <div class="text-sm sm:text-base md:text-lg lg:text-xl">
            Customer Rating
          </div>
        </div>
        <div class="text-center space-y-2 inria-serif-bold">
          <div class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
            93K
          </div>
          <div class="text-sm sm:text-base md:text-lg lg:text-xl">
            Tickets Sold
          </div>
        </div>
      </div>
    </section>
