/* src/app/shared/modal/modal-container/modal-container.component.css */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-box {
    width: 100dvw;
    height: 100dvh;
}
