.primary-bg {
    background-color: #4b0082;
}

.primary-text {
    color: #4b0082;
}

.secondary-bg {
    background-color: #9b59b6;
}

.secondary-text {
    color: #9b59b6;
}

.accent-bg {
    background-color: #9b59b6;
}

.accent-text {
    color: #9b59b6;
}